.CreateTournament .TournamentForm {
  padding: 80px 0;
  text-align: center;
}

.CreateTournament .TournamentForm h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
}

.CreateTournament form {
    padding-bottom: 15px;
  }
  
.CreateTournament form textarea {
    height: 300px;
    font-size: 24px;
  }

