.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 75px;
    font-weight: 1000;
  }

  .Home .lander p {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
  }
  
  #home_carousel {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .Home #fortnite_jumbotron {
    background-image: url("images/fortnite_banner.jpg");
    background-size: cover;
    height: 250px;
    cursor: pointer;
  }

  .Home #league_jumbotron {
    background-image: url("images/league_banner.jpg");
    background-size: cover;
    height: 250px;
    cursor: pointer;
  }

  .Home #csgo_jumbotron {
    background-image: url("images/csgo_banner.jpg");
    background-size: cover;
    height: 250px;
    cursor: pointer;
  }

  .Home #dota2_jumbotron {
    background-image: url("images/dota2_banner.jpg");
    background-size: cover;
    height: 250px;
    cursor: pointer;
  }

  .Home #starcraft2_jumbotron {
    background-image: url("images/starcraft2_banner.jpg");
    background-size: cover;
    height: 250px;
    cursor: pointer;
  }

  .Home .game_information {
    color: rgb(221, 221, 221);
    background-color: black;
    display: inline-block;
    white-space: nowrap;
    }

  .Home #carousel_image1 {
    width: 900px;
    height: 500px;
    background-image: url("images/tourn1_banner.png");
    background-size: contain;
    display: inline-block;
  } 

  .Home #carousel_image2 {
    background-color:lightcoral;
    width: 900px;
    height: 500px;
    background-image: url("images/tourn2_banner.png");
    background-size: contain;
    display: inline-block;
    text-align: center;
  }

  .Home #carousel_image3 {
    background-color:lightsalmon;
    width: 900px;
    height: 500px;
    background-image: url("images/tourn3_banner.png");
    background-size: contain;
    display: inline-block;
    text-align: center;
  }

  .Home .money_tag1 {
    color: green;
    font-size: 112px;
  }

  .Home .money_tag2 {
    color: blue;
    font-size: 112px;
  }

  .Home .money_tag3 {
    color: red;
    font-size: 112px;
  }

  .Home .advertisement1 {
    color: lightskyblue;
    font-size: 112px;
  }