.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .Home #fortnite_jumbotron {
    background-image: url("fortnite_banner.png");
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .Home #league_jumbotron {
    background-image: url("league_banner.png");
    background-size: contain;
  }

  .Home #csgo_jumbotron {
    background-image: url("csgo_banner.png");
    background-size: contain;
  }

  .Home #dota2_jumbotron {
    background-image: url("dota2_banner.png");
    background-size: contain;
  }

  .Home #starcraft2_jumbotron {
    background-image: url("starcraft2_banner.png");
    background-size: contain;
  }

  .Home .game_information {
    color: rgb(221, 221, 221);
    background-color: black;
    display: inline-block;
    white-space: nowrap;
    }
