.NewTournament .Lander {
  padding: 80px 0;
  text-align: center;
}

.NewTournament .Lander h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
}

.NewTournament form {
    padding-bottom: 15px;
  }
  
.NewTournament form textarea {
    height: 300px;
    font-size: 24px;
  }

